<!DOCTYPE html>
<html>
  <head>
    <title>Who’s Keen?</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Work+Sans:200,400,600' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
