<!DOCTYPE html>
<html>
  <head>
    <title>Who’s Keen?</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Work+Sans:200,400,600' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  </head>

  <body>
    <%= javascript_pack_tag 'application' %>
    <%= render 'layouts/javascript_overrides' %>
  </body>
</html>
